.fullwidth {
    width: 100%;
}

/*
html {
    scroll-behavior: smooth;
    color: #464646 !important;
}*/

.font-noto-sans {
    font-family: 'Noto Sans', sans-serif !important;
}

.font-fira-sans {
    font-family: 'Fira Sans', sans-serif !important;
}

h1,
h2,
h3,
h4,
h5,
h6,
.fw-bolder {
    font-weight: 600 !important;
}

body,
p,
a,
.text-muted {
    font-weight: 400 !important;
}

.menu-title-gray-500 .menu-item .menu-link {
    font-weight: 600 !important;
}

.menu-title-gray-500 .menu-item .menu-link,
.text-grey,
.text-muted {
    color: #808080 !important;
}

.landing-header .menu .menu-link.active,
.landing-header .menu .menu-link:hover {
    color: #017EAD !important;
}

.text-center {
    text-align: center !important;
}

.headerLogo {
    width: 200px;
}

.landing-header {
    background: white !important;
    margin-bottom: 45px;
}

.landing-header.home-header {
    background: transparent !important;
    margin-bottom: 85px;
}

.landing-dark-bg {
    background-color: #017EAD;
}

.landing-dark-color {
    color: #017EAD;
}

[data-kt-sticky-landing-header=on] .landing-header {
    background-color: white !important;
}

[data-kt-sticky-landing-header=on] .landing-header .menu .menu-link.active {
    background-color: unset;
}

.spacing {
    padding: 20px;
}

.text-dark {
    color: #464646 !important;
}

.loginButton {
    background-color: #808080 !important;
    color: white !important;
}

.text-primary {
    color: #017EAD !important;
}


/*.btn:hover{transform: scale(1.2);transition: transform 1.5s ease;}*/

.customBg.bgi-size-contain {
    background-size: cover !important;
}


/*.customBg::after{
    content: ""; 
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0,0.7);
   
}*/

.width70 {
    width: 70%;
    margin: 0 auto;
}

.currency {
    font-size: 35px;
}

.noBg {
    background-image: unset !important;
    background-color: white !important;
}

.svg-icon.svg-icon-success svg [fill]:not(.permanent):not(g) {
    fill: #808080 !important;
}

.infobox {
    position: relative;
}

.infobox .svg-icon {
    position: absolute;
    right: 0;
    top: 0;
}

.btn_blue {
    background-color: #017EAD !important;
    border-color: #017EAD !important;
}

.about_style11 {
    padding-top: 100px;
    padding-bottom: 85px;
    background-color: white;
}

.about_style11 .about_text span {
    font-size: 14px;
    color: #017EAD;
    font-weight: 600;
    display: inline-block;
    padding-bottom: 20px;
}

.about_style11 .about_text h2 {
    color: #808080;
    font-size: 48px;
    font-weight: 600;
    line-height: 48px;
    position: relative;
}

.about_style11 .about_text h2:after {
    content: '';
    background-color: #017EAD;
    width: 50px;
    height: 2px;
    position: absolute;
    bottom: -15px;
    left: 0;
}

.about_style11 .about_text p {
    color: #808080;
    font-size: 16px;
    font-weight: 400;
    display: inline-block;
    padding-top: 35px;
    padding-bottom: 50px;
}

.about_style11 .about_text p::first-child {
    padding-bottom: 0px;
}

.features_list ul li {
    color: #808080;
    font-size: 16px;
    font-weight: 500;
    padding-bottom: 20px;
    padding-left: 25px;
    position: relative;
}

.features_list ul {
    padding: 0px
}

.features_list ul li {
    list-style: none;
}

.features_list ul li:before {
    content: "\f061";
    font-family: 'Font Awesome 5 Free';
    font-weight: 900;
    position: absolute;
    color: #e94d31;
    font-size: 12px;
    left: 0;
    top: 4px;
}

.contact_info {
    padding-top: 65px;
    padding-bottom: 40px;
}

.contact_img img {
    width: 100%;
}

.contact_info .heding span {
    font-weight: 600;
    font-size: 14px;
    color: #017EAD;
}

.contact_info .heding h2 {
    font-weight: 600;
    font-size: 48px;
    color: #808080;
    position: relative;
    line-height: 48px;
}

.contact_info .heding h2:after {
    position: absolute;
    content: '';
    width: 50px;
    height: 2px;
    background-color: #017EAD;
    bottom: -25px;
    left: 0;
}

.contact_info .heding p {
    font-size: 16px;
    margin-top: 65px;
    font-weight: 400;
    color: #808080;
}

.contact_details form {
    margin-top: 35px;
}

.contact_details form input,
select {
    width: 100%;
    padding: 20px 20px;
    margin-bottom: 20px;
    outline: none;
}

.contact_details textarea {
    width: 100%;
    padding: 20px;
}

.contact_details form input[type='button'] {
    width: unset;
    background-color: #017EAD;
    color: #fff;
    text-transform: uppercase;
    border: none;
    padding: 20px 40px;
    margin-top: 30px;
    border-radius: 2px;
}

.phon_info {
    text-align: center;
    border: 2px dashed #ddecff;
    padding: 40px 0;
    margin-top: 50px;
    border-radius: 40px;
    background-color: white;
}

.phon_info p {
    font-weight: 400;
    font-size: 18px;
    color: #808080;
    margin-bottom: 25px;
}

.phon_info .c_phone {
    font-weight: 600;
    font-size: 24px;
    color: #808080;
    position: relative;
    display: inline-block;
}

.phon_info .c_email {
    font-weight: 500;
    font-size: 20px;
    color: #808080;
    display: inline-block;
    margin-left: 30px;
}

.emergency {
    background: linear-gradient(90deg, #505050 0%, #808080 100%) !important;
    max-width: 70%;
    margin: 0 auto;
    z-index: 200;
    margin-bottom: -8.25rem !important;
}

.more_about hr {
    color: white;
    margin-bottom: 22px;
}
.more_info h4{
    font-size: 20px;
}
.more_info p{
    font-size: 18px !important;
}
.more_info ul {
    list-style: none;
    padding-left: 0;
}

.more_info i {
    margin-right: 5px;
    font-size: 14px !important;
    transform: rotate(92deg);
}

.more_info p {
    margin-bottom: 0px !important;
}

.footer {
    background-color: white;
}

.footerBottom {
    background-color: white;
}

.footerLogo {
    width: 100vw !important;
    height: 100% !important;
    object-fit: contain;
    max-width: 200px;
}

.landing-dark-separator {
    border-top: 1px dashed #017EAD !important;
}

.scrolltop {
    background-color: #017EAD !important;
}

.link-primary:focus,
.link-primary:hover,
.link-primary {
    color: #017EAD;
}

.btn.btn-primary {
    background-color: #017EAD !important;
    color: white !important;
}

.rgForm {
    width: 800px !important;
}

#registerForm select {
    padding: 13px 20px;
    margin-bottom: 0px;
}

#registerForm .tandc {
    max-height: 150px;
    overflow: hidden;
    overflow-y: scroll;
    padding: 10px;
}
.socialIcon h4{
    font-size: 20px !important;
}
.socialIcon ul {
    padding: 0px;
}

.socialIcon ul li {
    list-style: none;
    width: fit-content;
    display: inline-block;
    padding: 0px 5px;
}

.socialIcon ul li:first-child {
    padding-left: 0px !important;
}

.socialIcon a {
    text-align: center;
}

.socialIcon i {
    color: white;
    font-size: 40px;
    margin-right: 10px;
}

.verticle-center {
    margin: auto;
}

.howItWork img {
    width: 100vw !important;
    height: 100% !important;
    object-fit: contain;
    max-width: 200px;
}

.pr-5 {
    padding: 5%;
}

.ml-4 {
    margin-left: 3rem;
}

.front-end-img-height {
    height: 46em;
}

.front-end-img-bg-size {
    background-size: cover;
}
.promo-image-section img{
    position: relative;
    top: 9rem;
    margin-top: -17rem;
    right: 2rem;
    max-width: 37%;
}

.selected_diagnosis {
    padding: 5px 5px 5px 0px;
}

.selected_diagnosis__div {
    justify-content: flex-start;
    align-items: center;
}

.selected_diagnosis__div p {
    margin: 0px 0px 0px 5px;
    padding: 0px;
}

.selected_diagnosis__remove_button {
    border: none;
    color: #e94d31;
    background-color: #f2f2f2;
    margin-left: 5px;
}

.bg-grey {
    background-color: #f2f2f2;
}

.scroll_statement_div {
    max-height: 300px;
    overflow-y: scroll;
}

.w-fitContent {
    width: fit-content;
}

.cust__diagnosis_addNew_spaceBet {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    gap: 1rem;
}

input[type="date"] {
    z-index: -1;
}

.cust__fixed_loading_spinner {
    position: fixed;
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    top: 0px;
    left: 0px;
    z-index: 999999;
    background: linear-gradient(#00000039, #00000039);
    backdrop-filter: blur(5px);
    z-index: 9999;
}

.cust__width-521 {
    width: 521px;
}

.btn-xs {
    height: 25px !important;
    width: 25px !important;
}

.centerEndDiv {
    display: flex;
    justify-content: center;
    align-items: flex-end;
}

.height40px {
    height: 40px;
}

.allNotes__dateOfServices__btn {
    height: 52px;
    padding: 5px 14px !important;
}

.startEndDiv {
    display: flex;
    justify-content: flex-start;
    align-items: flex-end;
}

.pr-0 {
    padding-right: 0px;
}

.pl-0 {
    padding-left: 0px;
}

.floatingActionButton {
    position: fixed;
    bottom: 5px;
    left: 5px;
}

.floatingActionButton button {
    border: none;
    border-radius: 50%;
    background-color: #808080;
    color: white;
    font-weight: bold;
    padding: 20px 15px;
    z-index: 1;
}

button.edit_addNew_elelement {
    position: absolute;
    top: 0px;
    right: 0px;
    padding: 5px;
    background-color: transparent;
    font-size: 1px;
    border: none;
    border-radius: 2px;
    height: 100%;
}

.btn-orange,
.btn-orange:hover {
    background-color: #FF7722;
    color: white;
}

.p-relative {
    position: relative;
}
.progress-yellow p {
    background-color: inherit;
}
.how-to-section{
    margin-top: 0.5rem;
    margin-bottom: 4rem;
}
.how-to-section h3{
    font-size: 2rem;
}
.homepage-videos{
    text-align: center;
    width: 70%;
    /* padding-top: 50%; */
    margin: auto;
}
.how-to-videos{
    position: "relative";
    width: 60%;
    padding-top: 33.75%;
}
.offer_pricing{
    position: absolute;
    right: -100px;
    top: -110px;
    width: 25%;
}

@media screen and (max-width: 1159px) {
    .front-end-img-bg-size {
        background-position: center right !important;
    }
    .front-end-img-height {
        height: 43rem;
    }
}

@media screen and (max-width: 768px) {
    .front-end-img-height {
        /* height: 30em; */
        height: auto;
    }
    .offer_pricing{
        right: -10px;
        top: -80px;
        width: 30%;
    }
    .promo-image-section img{
        position: relative;
        top: 4rem;
        margin-top: 0;
        right: 0;
        max-width: 100%;
    }
    .how-to-videos{
        width: 100%;
        padding-top: 56.2500%;
    }
    .homepage-videos{
        width: 100%;
        /* padding-top: 75%; */
        margin: auto;
        margin-bottom: -2rem !important;
    }
}
@media (max-width: 768px) {}

@media screen and (max-width: 525px) {
    .front-end-img-bg-size {
        background-position: center right !important;
    }
}
@media screen and (min-width: 768px) {
    .dashboard_kt_footer {
        position: fixed;
        left: 0;
        width: 100%;
        bottom: 0;
        z-index: 100;
    }
    .clientDetail__tour__step-two,.clientDetail__tour__step-five{
        /* margin-bottom: 10rem; */
    }
    #kt_content_container{
        margin-bottom: 10rem;
    }
}

.searchIndexUpDown{
    cursor: pointer;
    border: 1px solid rgb(209, 210, 211);
}